body {
  background-color: #f9f3df;
  line-height: 1.5;
  color: #212529;
}

.radius-body {
  border-radius: 16px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 40px;
  margin: 60px auto;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

form {
  padding: 10px 0 10px;
}

.col-9 {
  max-width: 60%;
}

.search-input {
  background: #f9f3df;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

#search-button {
  background: #f4d19b;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 45px;
  border: none;
  height: 50px;
  max-width: 20%;
}

#current-location-button {
  background: #f4d19b;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 45px;
  border: none;
  height: 50px;
  max-width: 20%;
}

hr {
  color: #f9f3df;
}

h1 {
  padding: 20px 0 10px;
  font-size: 38px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 48px;
  color: black;
}

.weather-type {
  font-size: 24px;
  text-transform: capitalize;
}

.last-update {
  font-size: 8px;
}

.weather-properties {
  font-size: 16px;
}

#weather-icon {
  width: 100px;
  position: relative;
  top: -24px;
}

#current-temperature {
  color: #212121;
  font-weight: 400;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  text-align: left;
}

.other-days {
  padding: 10px;
  font-size: 18px;
}

.future-max {
  font-weight: bold;
}

.coding-statement {
  text-align: center;
  font-family: monospace;
  padding: 10px;
}

.temperature-units {
  color: #212121;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  text-align: left;
  text-decoration: none;
}

.weather-temperature .active {
  text-decoration: none;
  cursor: default;
  color: #212121;
}

.weather-temperature .non-active {
  text-decoration: none;
  color: #ec6e4c;
}

.weather-temperature .non-active:hover {
  text-decoration: underline;
}
